/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

@tailwind base;
@tailwind components;
@tailwind utilities;


.test-class-name {
	display: flex;
	justify-content: space-around;
}

.white-background {
	padding: 1vh;
	border-radius: 1.5vh;
}

.sentence {
	transition: 0.25s;
}

.sentence:hover {
	background-color: #FFFF00;
	color: black;
}

.button-empty {
	background-color: black;
}

.category-flex {
	display: flex;
	flex-direction: column;
	width: 35%;

	text-align: center;
}

.subj-button-transition {
	transition: 0.1s;
}



/*Popup stuff */

/* Popup container */
.popup {
	width: 100%;
	position: relative;
	display: inline;
	cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
	visibility: hidden;
	min-width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 12px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	/*left: 50%;*/
	margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 0.2s;
	animation: fadeIn 0.2s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}
