.main-container {
	/*overflow-x: hidden;*/
}

.cat-selector-container {
	display: flex;
	justify-content: space-around;

	transition: 0.25s;
	height: 50vh;
	overflow: scroll;
}

.shrink-cat-select {
	height: 0;
}

.input-container {
	padding: 1vh;
	border-radius: 1.5vh;
}

.input-container .query {
	width: 100%;
}

.input-container .input-row {
	display: flex;
	position: relative;
	width: 100%;
	justify-content: center;
	overflow: visible;
}

.sentence {
	transition: 0.25s;
}

.sentence:hover {
	background-color: #FFFF00;
	color: black;
}

.button-empty {
	background-color: black;
}

.category-flex {
	display: flex;
	flex-direction: column;
	width: 35%;

	text-align: center;
}

.subj-button-transition {
	transition: 0.1s;
}

.difficulty-selector {
	display: flex;
	height: 3vh;

	transition: 0.25s;
}

.difficulty-selector input {
	margin-top: auto;
	margin-bottom: auto;
}

.difficulty-selector p {
	margin-top: auto;
	margin-bottom: auto;
}

.difficulty-container {
	position: relative;
}

.difficulty-dropdown {
	position: absolute;
	width: 15vw;
	height: 30vh;
	transition: 0.25s;

	overflow: hidden;

	background-color: #43465a;
	border-radius: 6px;

}

.diff-drop-inactive {
	height: 0;
}


.diff-item-active {
	background-color: #284552;
}

.toggle-button {
	transition: 0.25s;
}



/*Popup stuff */

/* Popup container */
.popup {
	width: 100%;
	position: relative;
	display: inline;
	cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
	visibility: hidden;
	min-width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 12px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -160px;
}

/* Popup arrow */
.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 0.2s;
	animation: fadeIn 0.2s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}
